*{
    margin: 0%;
    
}
body{
    display: flex;
    background-color: rgb(14, 13, 13);
}
.nav{
    display: flex;
}
.container1{
    display: flex;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-between;
    
    font-family: sans-serif;
    

}
.vs{
    font-size: 30px;
}