*{
    margin: 0%;
    
}
body{
    display: flex;
    background-color:#0c0c15;
}
.nav{
    display: flex;
}
.container1{
    display: flex;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-between;
    
    font-family: sans-serif;
    

}
.vs{
    font-size: 25px;
    margin: 20px;
    margin-top: 25px;
    
}