*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: rgb(26, 25, 25);
    
}
.contian a{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.but{
    background-color: rgb(10, 148, 234);
    color: white;
    font-size: medium;
    border: none;
    border-radius: 2px;
    margin-left: 50px;
    padding-left: 25px;
    padding-right: 25px;

}
.text{
    font-family: sans-serif;
}

